<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <display-name>SearchServlet</display-name>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.mongodb.atlas.SearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>database</param-name>
            <param-value>sample_mflix</param-value>
        </init-param>
        <init-param>
            <param-name>collection</param-name>
            <param-value>movies</param-value>
        </init-param>
        <init-param>
            <param-name>index</param-name>
            <param-value>movies_index</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>